/*
 * This file contains styling for the Main view.
 */

/*
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: $panel-navigation-background-color,
    $ui-tab-background-color-over: mix(white, $panel-navigation-background-color, 5%),
    $ui-tab-background-color-active: mix(white, $panel-navigation-background-color, 10%),
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #fff,
    $ui-tab-color-over: #fff,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 18px 24px 18px 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 15px,
    $ui-tab-font-weight: normal,
    $ui-tab-font-weight-over: normal,
    $ui-tab-font-weight-active: normal,
    $ui-tab-icon-width: 14px,
    $ui-tab-icon-height: 14px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: $panel-navigation-background-color,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);

/*
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false
);

@include extjs-button-small-ui(
    $ui: "header",
    $color: #999,
    $glyph-color: #999,
    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus: transparent,
    $background-color-pressed: transparent,
    $border-width: 0
);

.x-body {
    color: #333;
    font-size: $udpm-font-size-content;
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.4em;
    background: #f6f6f6;
}

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-tab-left {
    .x-tab-inner {
        white-space: pre-line;
        width: 110px;
    }
}

#services_main_tabs {
    .x-tab-left {
        .x-tab-inner {
            white-space: pre-line;
            width: 110px;
        }
    }
}

.x-tab-text.x-tab-icon-left > .x-tab-icon-el-navigation {
    margin-right: 15px;
}

.udpm-dash-dash-headerbar {
    padding: 0 25px 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    border: none;
    .header-right-profile-image {
        border-radius: 20px;
    }
}

.toolbar-btn-shadow{
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
    .x-btn-over{
        background-color: $button-toolbar-background-color-over;
    }
}

#dataset_main_tabs .x-tab-bar-body {
    padding: 0px;
}

#dataset_main_tabs .x-tab-default-top {
    padding: 9px 3px 9px 3px;
    text-align: center;
}

#dataset_main_tabs .x-tab-navigation-top {
    padding: 12px 12px 12px 12px;
}

#dataset_main_tabs .x-tab-bar-horizontal > .x-tab-bar-body-navigation {
    min-height: 74px;
}

#dataset_main_tabs-body.x-panel-body {
    top: 35px !important;
    border: 1px solid #cfcfcf !important;
}

#dataset_main_tabs > .x-box-inner {
    height: 35px !important;
}

#dataset_main_tabs .x-tab-inner-default {
    font: 300 15px/16px "HamburgSans", "Arial Narrow", Arial, sans-serif !important;
}

#collections_main_tabs .x-tab-inner-default, #collectionlayers_main_tabs .x-tab-inner-default, #services_main_tabs .x-tab-inner-default, #servicelayers_main_tabs .x-tab-inner-default{
    line-height: 1.2 !important;
}

.x-action-col-icon {
    margin-left: 9px;
    color:#333;
}

.x-grid-td {
    vertical-align: middle;
}
.x-grid-cell-inner {
    img {
        vertical-align: middle;
    }
}
.x-grid-item, .x-form-item-label-default, .x-form-cb-label-default, .x-tab-inner-default, .x-window-body-default {
    font-family: $font-family;
    font-size: $udpm-font-size-content;
    line-height: 1.4em;
    vertical-align: middle;
}

.x-grid-cell {
    cursor: pointer;
}

.x-form-text-default {
    font-family: $font-family;
    font-size: 12.3333px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prio-fieldset .x-fieldset-header-text {
    color: #666 !important
}

.prio-fieldset-only-edit-mode .x-fieldset-header-text {
    color: #666 !important;
    font-weight: bold;
}

.x-fieldset-header-default > .x-fieldset-header-text {
    color: #666 !important
}

.x-btn-icon-el-default-small {
    font-size: 12px !important
}

.faIcon {
    color: black;
    margin-left: 0px;
}

.faIconAlt {
    color: black;
}

.deleteIcon {
    color: red;
    margin-left: 0px;
}

.datasetStatusIcon {
    font-size: 45px !important;
    line-height: 1.2;
}

.statusIcon {
    margin-left: 0px;
    font-size: large;
}

.greenIcon {
    color: #71942b;
    margin-left: 0px;
    font-size: large;
}

.yellowIcon {
    color: #FAD801;
    margin-left: 0px;
    font-size: large;
}

.yellowIconGradient {
    background: linear-gradient(to right, #000000 50%, #FAD801 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: large;
    line-height: 1.2;
}

.datasetYellowIconGradient {
    background: linear-gradient(to right, #000000 50%, #FAD801 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 45px !important;
    line-height: 1.2;
}

.orangeIcon {
    color: #e69500;
    margin-left: 0px;
    font-size: large;
}

.datasetYellowIcon {
    color: rgb(228, 228, 0);
    font-size: 45px !important;
    line-height: 1.2;
}

.datasetOrangeIcon {
    color: rgb(230, 149, 0);
    font-size: 45px !important;
    line-height: 1.2;
}

.orangeIconGradient {
    background: linear-gradient(to right, #000000 50%, #e69500 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: large;
    line-height: 1.2;
}

.datasetOrangeIconGradient {
    background: linear-gradient(to right, #000000 50%, #e69500 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 45px !important;
    line-height: 1.2;
}

.greyIcon {
    color: #dddddd;
    margin-left: 0px;
    font-size: large;
}

.redItemImportant {
    color: red !important;
}

.orangeIconSmall {
    color: rgb(230, 149, 0);
}

.greenIconSmall {
    color: #71942b;
}

.yellowIconSmall {
    color: rgb(228, 228, 0);
}

.orangeYellowIconSmall {
    width: 12.5px;
    height: 12.5px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 1px;
}

.firstIcon {
    margin-right: 8px;
}

.secondIcon {
    margin-right: 8px;
}

.statusIconDev {
    color: orange;
    margin-left: 0px;
    font-size: large;
}

#gfigetattributestext {
    padding-bottom: 10px !important
}

#gfigetattributesservicetype {
    padding-left: 10px !important
}

.commentsCls {
    .x-grid-cell-inner {
        div {
            white-space: normal;
        }
        .commentsAuthorCls {
            font-size:80%;
        }
    }
}

.commentsImportantCls {
    background-color: red;
}

#filterkeywords-listWrapper {
    width: 236px;
    max-height: 47px !important;
    height: 47px !important;
}

#datasetkeywords-listWrapper {
    max-width: 945px;
}

#datasetfilterkeywords-listWrapper {
    max-width: 845px;
}

#servicekeywords-listWrapper {
    max-width: 874px;
}

#datasetcontacts-listWrapper {
    max-width: 590px;
}

.black-icon {
    color: #333;
    font-size: 14px;
}

.center-icon {
    margin-left: 0px !important;
}

.x-css-shadow[style] {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
}

#grid_linkedjiratickets .x-grid-body {
    border-top-width: 2px;
}

#grid_linkedjiratickets .x-grid-cell-last {
    border-right-width: 0px;
}

#grid_searchjiraticket .x-action-col-icon {
    margin-left: 0px;
}

.x-keyboard-mode .x-btn-focus.x-btn-default-small {
    background-color: #2e6da4 !important;
}

.multiline .x-column-header-inner .x-column-header-text {
    white-space: normal;
}

.header_link {
    background-color: transparent !important;
    color: #999;
    border-width: 0px;
}

.toolbar-btn-shadow .x-btn-over {
    background-color: transparent !important;
}

.ignore-cell {
    background-color: rgba(75, 75, 75, 0.1);
}

.multiline-row .x-grid-cell-inner {
    overflow: auto !important;
    white-space: normal !important;
    text-overflow: ellipsis;
    display: block;
}

.custom-btn-icon {
    min-width: 32px !important;
    width: 32px !important;
}

.custom-btn-icon-dev {
    min-width: 32px !important;
    width: 32px !important;
    background-color: rgb(230, 149, 0) !important;
}

.custom-btn-icon-stage {
    min-width: 32px !important;
    width: 32px !important;
    background-color: rgb(228, 228, 0) !important;
}

.custom-btn-icon-prod {
    min-width: 32px !important;
    width: 32px !important;
    background-color: #71942b !important;
}

.custom-btn-icon-undeploy {
    min-width: 32px !important;
    width: 32px !important;
    background-color: #E10019 !important;
}

.x-btn-icon-el-default-toolbar-medium {
    font-size: 16px !important;
}

.btn-save {
    background-color: #E10019;
    border-color: #810110;
}

.btn-save.x-btn-over, .btn-save.x-btn-focus {
    background-color: #be0016 !important;
    border-color: #810110;
}

.btn-save.x-btn-disabled {
    background-color: #ff5b6e !important;
    border-color: #810110;
    opacity: 0.1;
}

.btn-api-dev {
    background-color: rgb(230, 149, 0) !important;
    border-color: #7e3900;
}

.btn-api-dev .x-btn-inner {
    color: #333 !important;
}

.btn-api-dev.x-btn-over, .btn-api-dev.x-btn-focus {
    background-color: #d38900 !important;
    border-color: #7e3900;
}

.btn-api-dev.x-btn-disabled {
    background-color: #dbdbdb !important;
    border-color: #7e3900;
    opacity: 0.5;
}

.btn-api-stage-gradient {
    background: linear-gradient(to right, rgb(230, 149, 0), rgb(228, 228, 0)) !important;
    border-color: #7e3900;
}

.btn-api-stage-gradient .x-btn-inner {
    color: #333 !important;
}

.btn-api-stage-gradient.x-btn-over, .btn-api-stage-gradient.x-btn-focus {
    background: linear-gradient(to right, #d38900, rgb(202, 202, 0)) !important;
    border-color: #7e3900;
}

.btn-api-stage {
    background-color: rgb(228, 228, 0) !important;
    border-color: #7e3900;
}

.btn-api-stage .x-btn-inner {
    color: #333 !important;
}

.btn-api-stage.x-btn-over, .btn-api-stage.x-btn-focus {
    background-color: rgb(202, 202, 0) !important;
    border-color: #7e3900;
}

.btn-api-stage.x-btn-disabled {
    background-color: #dbdbdb !important;
    border-color: #7e3900;
    opacity: 0.5;
}

.btn-api-prod {
    background-color: #71942b !important;
    border-color: #7e3900;
}

.btn-api-prod .x-btn-inner {
    color: #333 !important;
}

.btn-api-prod.x-btn-over, .btn-api-prod.x-btn-focus {
    background-color: #587422 !important;
    border-color: #7e3900;
}

.btn-api-prod.x-btn-disabled {
    background-color: #dbdbdb !important;
    border-color: #7e3900;
    opacity: 0.5;
}

#styledragdropinfo {
    padding-top: 6px !important;
    left: 1px !important;
}

.x-column-header-sort-ASC, .x-column-header-sort-DESC {
    background-color: #fff !important;
}

.x-tab-default, .x-tab-default-left, .x-tab-bar-default, .x-panel-header-default, .x-panel-header-default-vertical, .x-panel-header-default .x-tool-tool-el, .x-tab.x-tab-disabled.x-tab-default {
    background-color: $base-panel-header-background-color;
}

.x-tab-default, .x-tab.x-tab-disabled.x-tab-default, .x-panel-header-default {
    border-color: $base-panel-header-background-color;
}

#filterfieldset.x-fieldset-default.x-fieldset-collapsed {
    background-color: $base-panel-header-background-color !important;
}

.x-grid-item-selected {
    background-color: #e9f4fd;
}

.x-grid-item-over {
    background-color: #e9e9e9;
}

.editmodeinfofield {
    color: red;
    font-size: large;
}

.x-splitter-vertical, .x-accordion-item .x-accordion-hd {
    background-color: $base-panel-header-background-color !important;
}

.edit-mode-only {
    label {
        font-weight: bold;
    }
    
    // input {
    //     background-color: #f5f4f4;
    //     color: #575757
    // }
}