<script type="text/javascript">
    window.socket = io(window.location.origin || window.location.protocol + "//" + window.location.hostname + (window.location.port ? ":" + window.location.port : ""), {
        path: "/udpm_ws"
    });
    window.clientConfig = "{{toJSON clientConfig}}";
    window.auth_user = "{{username}}";
    window.read_only = {{readonly}};
    window.admin = {{admin}};
    window.apiToken = "{{apiToken}}";
</script>

<script id="microloader" type="text/javascript" src="bootstrap.js"></script>
