<div>
    Hallo {{username}}. Es gibt eine Datenbankfehler.</br>
    </br>
    bitte wenden sie sich an das <a href="mailto:geobasisinfrastruktur@gv.hamburg.de">Geobasisinfrastruktur Postfach.</a>
</div>
