<script type="text/javascript">
    function execute() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                alert(xhr.responseText);
                location.reload();
            }
        }

        xhr.open('GET', "backend/initdbschema", true);
        xhr.setRequestHeader("token", "{{apiToken}}");
        xhr.send('');
    }
</script>

<div>
    Leere Datenbank gefunden, soll das UDP-Manager Schema angelegt werden?</br>
    <button onclick="execute()">Initialisieren</button>
</div>