<div>
    Hallo {{username}}. Sie sind nicht für einen Zugriff berechtigt.</br>
    </br>
    Für weitere Fragen wenden sie sich bitte an das <a href="mailto:geobasisinfrastruktur@gv.hamburg.de">Geobasisinfrastruktur Postfach.</a>
</div>
