<script type="text/javascript">
    function execute() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                alert(xhr.responseText);
                location.reload();
            }
        }

        xhr.open('GET', "backend/updatedbschema", true);
        xhr.setRequestHeader("token", "{{apiToken}}");
        xhr.send('');
    }
</script>

<div>
    Veraltete Datenbankversion gefunden, soll das Schema aktualisiert werden? </br>
    <button onclick="execute()">Update</button>
</div>