<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>UDP-Manager</title>

    <link rel="stylesheet" data-name="vs/editor/editor.main" href="resources/libs/monaco-editor/min/vs/editor/editor.main.css"/>

    <script>
			var require = { paths: { vs: "resources/libs/monaco-editor/min/vs" } };
	</script>

    <script src="resources/libs/moment/min/moment.min.js"></script>
    <script src="resources/libs/underscore/underscore-min.js"></script>
    <script src="resources/libs/socket.io/client-dist/socket.io.min.js"></script>
    <script src="resources/libs/monaco-editor/min/vs/loader.js"></script>
    <script src="resources/libs/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
	<script src="resources/libs/monaco-editor/min/vs/editor/editor.main.js"></script>
</head>
<body>{{{body}}}</body>
</html>
