/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

body {
    color: #333;
}

@font-face {
    font-family: 'HamburgSans';
    src: url('fonts/HamburgSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/HamburgSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/HamburgSans-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/HamburgSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/HamburgSans-Regular.svg#woffs/HamburgSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'HamburgSans';
    src: url('fonts/HamburgSans-Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/HamburgSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/HamburgSans-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/HamburgSans-Italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/HamburgSans-Italic.svg#woffs/HamburgSans-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
    font-family: 'HamburgSans';
    src: url('fonts/HamburgSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/HamburgSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/HamburgSans-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/HamburgSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/HamburgSans-Bold.svg#woffs/HamburgSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'HamburgSans';
    src: url('fonts/HamburgSans-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/HamburgSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/HamburgSans-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/HamburgSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/HamburgSans-BoldItalic.svg#woffs/HamburgSans-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}
$base-color:#333;
$button-base-color: #005ca9;
$button-border-color: #003b6b;

$font-family: "HamburgSans","Arial Narrow",Arial,sans-serif;

$udpm-font-size-small-content: dynamic(12px);
$udpm-font-size-content: dynamic(12px);
$udpm-font-size-small-title: dynamic(14px);
$udpm-font-size-medium-title: dynamic(18px);
$udpm-font-size-large-title: dynamic(20px);
$udpm-font-size-xlarge-title: dynamic(28px);

$udpm-font-regular: dynamic(400);
$udpm-font-semibold: dynamic(500);
$udpm-font-bold: dynamic(800);

$panel-navigation-background-color: #005ca9;
$panel-navigation-item-line-height: 50px;
$panel-navigation-item-text-color: #ffffff;

$base-highlight-color: #005ca9;

$base-panel-header-background-color: #ebebeb;

$button-small-border-radius: dynamic(0px);
$button-default-border-color: dynamic($button-border-color);
$button-toolbar-border-color: dynamic($button-default-border-color);

$button-default-background-color: dynamic($button-base-color);
$button-toolbar-background-color: dynamic($button-default-background-color);

$button-default-background-color-over: darken($button-base-color, 5%);
$button-toolbar-background-color-over: darken($button-base-color, 5%);

$button-default-background-color-pressed: darken($button-base-color, 5%);
$button-toolbar-background-color-pressed: darken($button-base-color, 5%);

$button-default-background-color-focused: darken($button-base-color, 5%);
$button-toolbar-background-color-focused: darken($button-base-color, 5%);

$button-default-background-color-focused: darken($button-base-color, 5%);
$button-toolbar-background-color-focused: darken($button-base-color, 5%);

$button-default-background-color-hovered: darken($button-base-color, 5%);
$button-toolbar-background-color-hovered: darken($button-base-color, 5%);

$button-default-color: dynamic(white);
$button-toolbar-color: dynamic($button-default-color);

$button-small-font-size: dynamic($udpm-font-size-small-content);
$button-small-font-weight: dynamic($udpm-font-regular);

$grid-row-cell-alt-background-color: #e0e9ff;

$form-trigger-background-color: #ebebeb;